/* -------------- LinkWrapper -------------- */

#linkWrapper {
  margin-top: 5%;
  width: 30vw;
  display: flex;
}

/* -------------- home -------------- */

#homeLink {
  margin-left: 16%;
  order: 2;
  display: flex;
  cursor: pointer;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

#homeLinkText {
  color: black;
  font-size: 1.8vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  order: 2;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

#homeLinkText:hover {
  font-size: 1.8vw;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  color: #0F3DAC;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.home_link_true {
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  align-self: center;
  order: 2;
  width: 1vw;
  border-bottom: 2px solid white;
  transform: rotate(-45deg);
}

.home_link_false {
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  align-self: center;
  order: 2;
  width: 1vw;
  border-bottom: 2px solid white;
}

#homeLink:hover .home_link_false:not(:hover) {
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  transform: rotate(-45deg);
}

#link_1_home {
  align-self: center;
  order: 1;
  width: 1vw;
  border-bottom: 2px solid white;
}

#link_3_home {
  align-self: center;
  order: 1;
  width: 1vw;
  border-bottom: 2px solid white;
}

#link_2_home {
  align-self: center;
  order: 1;
  width: 1vw;
  border-bottom: 2px solid white;
}

#link_4_home {
  align-self: center;
  order: 1;
  width: 1vw;
  border-bottom: 2px solid black;
}

/* -------------- contact -------------- */

#contactLink {
  margin-left: 5%;
  order: 1;
  display: flex;
  cursor: pointer;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
}

#contactLinkText {
  color: black;
  font-size: 1.8vw;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  order: 1;
  text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

#contactLinkText:hover {
  font-size: 1.8vw;
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  color: yellow;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

.contact_link_true {
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  align-self: center;
  order: 1;
  width: 1vw;
  border-bottom: 2px solid white;
  transform: rotate(-45deg);
}

.contact_link_false {
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  align-self: center;
  order: 1;
  width: 1vw;
  border-bottom: 2px solid white;
}

#contactLink:hover .contact_link_false:not(:hover) {
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  transform: rotate(-45deg);
}

#contactLink:hover {
  transition-duration: 300ms;
  transition-timing-function: ease-out;
  right: 1.5vw;
}

#link_1_contact {
  align-self: center;
  order: 2;
  width: 1vw;
  border-bottom: 2px solid black;
}

#link_2_contact {
  align-self: center;
  order: 2;
  width: 1vw;
  border-bottom: 2px solid white;
}

#link_3_contact {
  align-self: center;
  order: 2;
  width: 1vw;
  border-bottom: 2px solid white;
}

#link_4_contact {
  align-self: center;
  order: 2;
  width: 1vw;
  border-bottom: 2px solid white;
}

/* -------------- details -------------- */

#details {
  margin-top: 70%;
  flex-direction: column;
  display: flex;
}

/* ------ break ------ */

#row1 {
  margin-left: 12%;
  display: flex;
}

#detName {
  font-size: 1.5vw;
  font-weight: bold;
  color: white;
}

/* ------ break ------ */

#row2 {
  margin-top: 8%;
  margin-left: 12%;
  display: flex;
}

#yearTag {
  font-size: 1vw;
  color: #bbbbbb;
}

#detYear {
  margin-left: 2%;
  color: white;
}

#splitter {
  margin-left: 2%;
  color: #bbbbbb;
}

#purposeTag {
  margin-left: 2%;
  font-size: 1vw;
  color: #bbbbbb;
}

#detPurpose {
  margin-left: 2%;
  color: white;
}

/* ------ break ------ */

#row3 {
  margin-top: 5%;
  margin-left: 12%;
  display: flex;
}

#detBio {
  font-size: 1.1vw;
  font-weight: 100;
  text-align: start;
  color: white;
}